<div>
<h2>My Transaction History:</h2>
  <div class="btn-group">
    <a type="button" role="button" class="btn btn-default" href="#/">Back to Menu</a>
  </div>
  <br>
  <br>
  <br>
  <div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">List of Video Games Purchased</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr ng-show="pastshop.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
          <tr ng-hide="pastshop.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

          <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

          <tr ng-repeat="c in pastshop | filter:filterProduct | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.name + c.price + c.year + c.company + c.rating + c.genre + c.platform + c.players + c.stock + c.copiessold' ng-animate=" 'animate'">
            <td>{{c.id}}</td><td>{{c.name}}</td><td>{{c.price}}</td><td>{{c.year}}</td><td>{{c.company}}</td><td>{{c.rating}}</td><td>{{c.genre}}</td><td>{{c.platform}}</td><td>{{c.players}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">List of Video Games Saved to Wishlist</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr ng-show="pastwishlist.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
          <tr ng-hide="pastwishlist.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

          <tr><th ng-repeat="e in columns">{{d.text}}</th></tr>

          <tr ng-repeat="e in pastwishlist | filter:filterProduct | orderBy:'-id'" id="{{e.id}}" animate-on-change='e.name + e.price + e.year + e.company + e.rating + e.genre + e.platform + e.players + e.stock + e.copiessold' ng-animate=" 'animate'">
            <td>{{e.id}}</td><td>{{e.name}}</td><td>{{e.price}}</td><td>{{e.year}}</td><td>{{e.company}}</td><td>{{e.rating}}</td><td>{{e.genre}}</td><td>{{e.platform}}</td><td>{{e.players}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">List of Video Games Saved to Wishlist and Purchased</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr ng-show="allPastshopPastwishlist.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
          <tr ng-hide="allPastshopPastwishlist.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

          <tr><th ng-repeat="d in columns">{{d.text}}</th></tr>

          <tr ng-repeat="d in allPastshopPastwishlist track by $index | filter:filterProduct | orderBy:'-id'" id="{{d.id}}" animate-on-change='d.name + d.price + d.year + d.company + d.rating + d.genre + d.platform + d.players + d.stock + d.copiessold' ng-animate=" 'animate'">
            <td>{{d.id}}</td><td>{{d.name}}</td><td>{{d.price}}</td><td>{{d.year}}</td><td>{{d.company}}</td><td>{{d.rating}}</td><td>{{d.genre}}</td><td>{{d.platform}}</td><td>{{d.players}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


</div>