<div>
	<h2>My Account</h2>
	<div class="btn-group">
		<a type="button" role="button" class="btn btn-default" href="#/">Back to Menu</a>
	</div>
  	<br/>
  	<br/>
  <h3>Please enter your email and password to login:</h3>
  <form name="loginform">
    <p>Email:</p>
    <input type="text" name="customeremail" id="customeremail"/>
    <p>Password:</p>
    <input type="password" name="customerpassword" id="customerpassword"/> <input id="submit" type="submit" role="button" class="btn btn-default" value="Login" ng-click="customerCheckoutLogin();"></input>
  </form>
  <p></p>
  <p></p>

</div>