<div>
  <h2>Checkout</h2>

  <div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Review of Game Purchases and Rentals
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter checkout list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="checkout.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="checkout.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in checkout | filter:filterProduct | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.name + c.price + c.year + c.company + c.rating + c.genre + c.platform + c.players + c.stock + c.copiessold' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.name}}</td><td>{{c.price}}</td><td>{{c.year}}</td><td>{{c.company}}</td><td>{{c.rating}}</td><td>{{c.genre}}</td><td>{{c.platform}}</td><td>{{c.players}}</td><td>{{c.stock}}</td><td>{{c.copiessold}}</td>
        <td>
            <button class="btn" ng-class="{Purchase:'btn-success', Rent:''}[c.status]">{{c.status}}</button>
        </td>
        <td ng-open="getProductInformation(c);"></td>
    </tr>
    </table>
</div>
</div>
</div>

  <p>Total Price:</p>
  <p id="totalPrice" ng-open="getTotalPrice();"></p>
  
  <form name="loginform">
  	<p>Email:</p>
  	<input type="text" name="customeremail" id="customeremail"/>
  	<p>Password:</p>
  	<input type="password" name="customerpassword" id="customerpassword"/> <input id="submit" type="submit" role="button" class="btn btn-default" value="Login" ng-click="customerCheckoutLogin();"></input>
  </form>
  	<p></p>
  	<p></p>

  <form name="transactionform" ng-submit="confirmPurchase()">
  	<!--Don't display this until an email and password has been entered-->
  	<div id="paymentArea" style="display: none">
  	<p>Pay by: 
  		<select name="cardtypeselect" id="cardtypeselect">
  			<option value="--">--</option>
  			<option value="visa">Visa</option>
  			<option value="mastercard">MasterCard</option>
  			<option value="americanexpress">American Express</option>
  		</select>
  	</p> <!--Visa, MasterCard or American Express-->
  	<p>Name on Credit Card:</p>
  	<input type="text" name="creditcardname" id="creditcardname"/>
  	<p>Credit Card Number:</p>
  	<input type="number" name="creditcardnumber" id="creditcardnumber"/>
  	<input id="submit" type="submit" role="button" class="btn btn-default" value="Confirm Purchases and Rentals" ng-click="completeTransaction();"></input>
  	</div>
  </form>

  <p></p>
  <p></p>

  <a type="button" role="button" class="btn btn-default" href="#/list/shopping-cart" ng-click="dropFromCheckout();">Cancel Checkout</a>
  <a type="button" role="button" class="btn btn-default" href="#/">Back to Menu</a>
</div>