<div class="btn-group-vertical" role="group" aria-label="vertical-btn-group" style="margin-left: 40%;">
	<br /><br />
  <a type="button" role="button" class="btn btn-default" href="#/customer">Customer</a>
  <a type="button" role="button" class="btn btn-default" href="#/owner">Owner</a>
</div>