<div class="btn-group-vertical" role="group" aria-label="vertical-btn-group" style="margin-left: 40%;">
	<br /><br />
  <a type="button" role="button" class="btn btn-default" href="#/search">Search Games</a>
  <a type="button" role="button" class="btn btn-default" href="#/list/wishlist">My Wishlist Cart</a>
  <a type="button" role="button" class="btn btn-default" href="#/list/shopping-cart">My Shopping Cart</a>
  <a type="button" role="button" class="btn btn-default" href="#/account">My Account</a>
</div>