<div>
  <h2>My Wishlist Cart</h2>

  <a type="button" role="button" class="btn btn-default" href="#/">Back to Menu</a>
  <!--<a type="button" role="button" class="btn btn-default" href="#/checkout">Checkout</a>-->
</div>
<hr/>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of Video Games
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter wishlist ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="wishlist.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="wishlist.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in wishlist | filter:filterProduct | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.name + c.price + c.year + c.company + c.rating + c.genre + c.platform + c.players + c.stock + c.copiessold' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.name}}</td><td>{{c.price}}</td><td>{{c.year}}</td><td>{{c.company}}</td><td>{{c.rating}}</td><td>{{c.genre}}</td><td>{{c.platform}}</td><td>{{c.players}}</td><td>{{c.stock}}</td><td>{{c.copiessold}}</td>
        <td>
            <button class="btn" ng-class="{Purchase:'btn-success', Rent:''}[c.status]" ng-click="changeProductStatus(c);">{{c.status}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>

<form name="loginform">
  <p>Email:</p>
  <input type="text" name="customeremail" id="customeremail"/>
  <p>Password:</p>
  <input type="password" name="customerpassword" id="customerpassword"/> <input id="submit" type="submit" role="button" class="btn btn-default" value="Login" ng-click="customerCheckoutLogin();"></input>
</form>
<p></p>
<p></p>