<div class="btn-group-vertical" role="group" aria-label="vertical-btn-group" style="margin-left: 40%;">
  <br /> <br />
  <a type="button" role="button" class="btn btn-default" href="#/products">Products</a>
  <a type="button" role="button" class="btn btn-default" href="#/transactions">Transactions</a>
  <a type="button" role="button" class="btn btn-default" href="#/ownertools">Statistic Tools</a>
  <a type="button" role="button" class="btn btn-default" href="#/sales">Sales<a>
</div>