<h4 class="blog-post-title">Store Statistics</h4>
<hr/>

<a type="button" role="button" class="btn btn-default" href="#/">Back</a>
<p></p>
<p></p>
<p>Total Number of Games Sold:</p>
<p id="gamesSold" ng-open="getNumberOfGamesSold();"></p>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of Sold Wishlisted Games
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter games list ..." class="nav-search-input" ng-model="filterGames" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="gamesWishBought.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="gamesWishBought.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in gamesWishBought | filter:filterGames | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.id + c.name' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.name}}</td>
    </tr>
    </table>
</div>
</div>