    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit Video Game [ID: {{product.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="product_form" class="form-horizontal" role="form" novalidate>
            <form-element label="NAME" mod="product">
                <input type="text" class="form-control" name="name" placeholder="NAME" ng-model="product.name" ng-disabled="product.id" focus/>
            </form-element>
            <form-element label="PRICE" mod="product">
                <input type="text" name="price" class="form-control" placeholder="PRICE" ng-model="product.price"  only-numbers/>
                <small class="errorMessage" ng-show="product_form.price.$dirty && product_form.price.$invalid"> Enter the price.</small>
            </form-element>

            <form-element label="YEAR" mod="product">
                <input type="text" name="year" class="form-control" placeholder="YEAR" ng-model="product.year" only-numbers/>
                <small class="errorMessage" ng-show="product_form.year.$dirty && product_form.year.$invalid"> Enter the available year.</small>
            </form-element>

            <form-element label="COMPANY" mod="product">
                <input type="text" name="company" class="form-control" placeholder="COMPANY" ng-model="product.company"/>
                <small class="errorMessage" ng-show="product_form.company.$dirty && product_form.company.$invalid"> Enter the available company.</small>
            </form-element>

            <form-element label="RATING" mod="product">
                <input type="text" name="rating" class="form-control" placeholder="RATING" ng-model="product.rating" only-numbers/>
                <small class="errorMessage" ng-show="product_form.rating.$dirty && product_form.rating.$invalid"> Enter the available rating.</small>
            </form-element>

            <form-element label="GENRE" mod="product">
                <input type="text" name="genre" class="form-control" placeholder="GENRE" ng-model="product.genre"/>
                <small class="errorMessage" ng-show="product_form.genre.$dirty && product_form.genre.$invalid"> Enter the available genre.</small>
            </form-element>

            <form-element label="PLATFORM" mod="product">
                <input type="text" name="platform" class="form-control" placeholder="PLATFORM" ng-model="product.platform"/>
                <small class="errorMessage" ng-show="product_form.platform.$dirty && product_form.platform.$invalid"> Enter the available platform.</small>
            </form-element>

            <form-element label="PLAYERS" mod="product">
                <input type="text" name="players" class="form-control" placeholder="PLAYERS" ng-model="product.players" only-numbers/>
                <small class="errorMessage" ng-show="product_form.players.$dirty && product_form.players.$invalid"> Enter the available players.</small>
            </form-element>

            <form-element label="STOCK" mod="product">
                <input type="text" name="stock" class="form-control" placeholder="STOCK" ng-model="product.stock" only-numbers/>
                <small class="errorMessage" ng-show="product_form.stock.$dirty && product_form.stock.$invalid"> Enter the available stock.</small>
            </form-element>

            <form-element label="COPIES SOLD" mod="product">
                <input type="text" name="copiessold" class="form-control" placeholder="COPIES SOLD" ng-model="product.copiessold" only-numbers/>
                <small class="errorMessage" ng-show="product_form.copiessold.$dirty && product_form.copiessold.$invalid"> Enter the available copies sold.</small>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

