<!--<h4 class="blog-post-title">Admin Game Bowser</h4>-->
<h4 class="blog-post-title">Sales</h4>
<hr/>

<a type="button" role="button" class="btn btn-default" href="#/">Back</a>

<div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">Sales by Genre
          <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter Sales list ..." class="nav-search-input" ng-model="filterSales" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
        <tr ng-show="sales.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
        <tr ng-hide="sales.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
        
        <tr><th>Genre</th><th>Average Price</th></tr>

        <tr ng-repeat="c in sales | orderBy:'-genre'" id="{{c.genre}}" animate-on-change='c.genre + c.avgPrice' ng-animate=" 'animate'">
            <td>{{c.genre}}</td><td>{{c.avgPrice}}</td>
        </tr>
    </table>
  </div>
</div>
<br /><br />

  <button type="button" role="button" class="btn btn-default" ng-model="displayMax" ng-init="displayMax = false" ng-click="getMax()">{{maxButtonText}}</button>

  <div class="panel-body" ng-if="displayMax">
    <table class="table table-striped">
        <tr ng-show="max.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
        <tr ng-hide="max.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
        
        <tr><th>Genre</th><th>Max Price</th></tr>

        <tr ng-repeat="c in max | orderBy:'-genre'" id="{{c.genre}}" animate-on-change='c.genre + c.maxPrice' ng-animate=" 'animate'">
            <td>{{c.genre}}</td><td>{{c.maxPrice}}</td>
        </tr>
    </table>
  </div>
  <br /><br />

  <button type="button" role="button" class="btn btn-default" ng-model="displayMin" ng-init="displayMin = false" ng-click="getMin()">{{minButtonText}}</button>

  
  <div class="panel-body" ng-if="displayMin">
    <table class="table table-striped">
        <tr ng-show="min.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
        <tr ng-hide="min.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
        
        <tr><th>Genre</th><th>Min Price</th></tr>

        <tr ng-repeat="c in min | orderBy:'-genre'" id="{{c.genre}}" animate-on-change='c.genre + c.minPrice' ng-animate=" 'animate'">
            <td>{{c.genre}}</td><td>{{c.minPrice}}</td>
        </tr>
    </table>
  </div>
  <br /><br />
</div>
              