<!--<h4 class="blog-post-title">Admin Game Bowser</h4>-->
<h4 class="blog-post-title">Transactions History</h4>
<hr/>

<a type="button" role="button" class="btn btn-default" href="#/">Back</a>

<div class="table-responsive">
    <div class="panel panel-primary">
      <div class="panel-heading">List of Transactions
          <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter transactions list ..." class="nav-search-input" ng-model="filterTransaction" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
        <tr ng-show="transactions.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
        <tr ng-hide="transactions.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
        
        <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

        <tr ng-repeat="c in transactions | filter:filterTransaction | orderBy:'-email'" id="{{c.email}}" animate-on-change='c.email + c.name + c.price + c.year + c.company + c.rating + c.genre + c.platform + c.players + c.stock + c.copiessold + c.status' ng-animate=" 'animate'">
            <td>{{c.email}}</td><td>{{c.name}}</td><td>{{c.price}}</td><td>{{c.year}}</td><td>{{c.company}}</td><td>{{c.rating}}</td><td>{{c.genre}}</td><td>{{c.platform}}</td><td>{{c.players}}</td><td>{{c.stock}}</td><td>{{c.copiessold}}</td><td>{{c.status}}</td>
        </tr>
    </table>
</div>
</div>
</div>
              